<h1 nz-typography class="product-create-h1">创建商品</h1>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>商品名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请输入商品名称！" nzHasFeedback>
      <label>
        <input formControlName="name" nz-input/>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>商品描述</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请输入商品描述！" nzHasFeedback>
      <label>
        <textarea formControlName="description" nz-input rows="2" ></textarea>
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>商品价格</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请输入商品价格！" nzHasFeedback>
      <nz-input-number formControlName="price" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>商品图片</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请上传商品图片！" nzHasFeedback>
      <nz-upload
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 1"
        [nzPreview]="handlePreview"
        [nzAccept]="acceptFileType"
        [nzFileType]="acceptFileType"
        (nzChange)="handleChange($event)"
      >
        <div>
          <em nz-icon nzType="plus"></em>
          <div style="margin-top: 8px">上传图片</div>
        </div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }"  alt="product image"/>
        </ng-template>
      </nz-modal>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">创建</button>
      <button nz-button (click)="resetForm($event)">重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
