.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-pagination {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
