<div class="product">
  <nz-card style="width:240px;"
           [nzCover]="coverTemplate"
           nzHoverable
           [nzActions]="[actionEdit, actionDelete, actionEllipsis]">
    <nz-card-meta
      nzTitle="{{product.name}}"
      nzDescription="{{product.description}}"></nz-card-meta>
    <p>{{product.price.toString() | currency:'CNY'}}</p>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="{{product.imageUrl}}"  (click)="productDetail()" />
  </ng-template>
  <ng-template #actionEdit>
    <em nz-icon nzType="edit"></em>
  </ng-template>
  <ng-template #actionDelete>
    <a
      nz-popconfirm
      nzPopconfirmTitle="您确认要删除该商品吗？"
      nzPopconfirmPlacement="topLeft"
      (nzOnConfirm)="confirmDelete()"
      (nzOnCancel)="cancelDelete()"
    >
      <em nz-icon nzType="delete"></em>
    </a>
  </ng-template>
  <ng-template #actionEllipsis>
    <em nz-icon nzType="ellipsis"></em>
  </ng-template>
</div>
